workflows/aws_travis_integrator.json
{
"Comment": "We use this to coordinate AWS infrastructure building with Travis Builds, should be failry generic",
"StartAt": "LaunchTasks",
"States": {
  "LaunchTasks": {
	"Type": "Parallel",
	"Next": "CreateBeanstalk",
	"ResultPath": "$._overrides",
	"Branches": [
		{
		  "StartAt": "SnapshotRDS",
		  "States": {
  		    "SnapshotRDS": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:643366669028:function:snapshot-rds",
			"ResultPath": "$.snapshot",
		    "Next": "WaitForRDS"
		    },
		    "WaitForRDS": {
			"Type": "Task",
			"InputPath": "$.snapshot",
			"Resource": "arn:aws:lambda:us-east-1:643366669028:function:waitfor",
			"Retry": [
			  {
				"ErrorEquals": ["WaitingForBoto3"],
				"IntervalSeconds": 30,
				"MaxAttempts" : 100,
				"BackoffRate" : 1.0
			   }
			],
			"Next": "CreateRDS"
		    },
		    "CreateRDS": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:643366669028:function:create_rds",
			"Next": "WaitForCreateRDS"
		    },
		    "WaitForCreateRDS": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:643366669028:function:waitfor",
			"Retry": [
			  {
				"ErrorEquals": ["WaitingForBoto3"],
				"IntervalSeconds": 30,
				"MaxAttempts" : 100,
				"BackoffRate" : 1.0
			   }
			],
			"End": true
		    }
		  }
		},
		{
		  "StartAt": "CreateES",
		  "States": {
		  "CreateES": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:643366669028:function:create_es",
			"ResultPath": "$.es",
			"Next": "WaitForES"
		   },
		    "WaitForES": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:643366669028:function:waitfor",
			"InputPath": "$.es",
			"Retry": [
			  {
				"ErrorEquals": ["WaitingForBoto3"],
				"IntervalSeconds": 30,
				"MaxAttempts" : 100,
				"BackoffRate" : 1.0
			   }
			],
			"End": true
		    }
		 }
	   },
	   {
	      "StartAt": "TravisBuild",
		  "States": {
			  "TravisBuild": {
			   	"Type": "Task",
				"Resource": "arn:aws:lambda:us-east-1:643366669028:function:travis-deploy",
			    "End": true
			  }
		  }
		},
	   {
	      "StartAt": "PassAlongInput",
		  "States": {
			  "PassAlongInput": {
			   	"Type": "Pass",
			    "End": true
			  }
		  }
		}
	 ]
	},
	"CreateBeanstalk": {
	  "Type": "Task",
	  "Resource": "arn:aws:lambda:us-east-1:643366669028:function:create_beanstalk",
	  "ResultPath": "$.beanstalk",
	  "Next": "WaitForBeanstalk" 
	},
	"WaitForBeanstalk": {
	"Type": "Task",
	"InputPath": "$.beanstalk",
	"Resource": "arn:aws:lambda:us-east-1:643366669028:function:waitfor",
	"Retry": [
	  {
		"ErrorEquals": ["WaitingForBoto3"],
		"IntervalSeconds": 30,
		"MaxAttempts" : 100,
		"BackoffRate" : 1.0
	   }
	],
	"Next": "WaitForIndexing"
	},
	"WaitForIndexing": {
		"Type": "Task",
		"Resource":"arn:aws:lambda:us-east-1:643366669028:function:waitfor",
	    "Next": "UpdateFoursight"
	},
	"UpdateFoursight": {
		"Type": "Task",
		"Resource":"arn:aws:lambda:us-east-1:643366669028:function:update_foursight",
		"End": true 
	}
  }
}

